<html>
    <head><title><%=title%></title></head>
    <body>
        <div id="project-display-id">
            <h3><%=details.name%></h3>
                <p><%=details.description%></p>
                <h4>------------<%=details.author%></h4>

        </div>
    </body>
</html>