body{
    background-color:rgb(170, 184, 184);
}
a{
    text-decoration: none;
    color: bisque;
}

h1{
    color:greenyellow;
}
/* =======================================================mains============================================ */
.mains{
    /* height:1000px; */
    overflow: hidden;
    width:1505px;
    background-color:rgb(40, 81, 81);
    background-image: linear-gradient(to right,rgb(177, 18, 16),cyan);

}

/* =================================================Porject-c(Styling for create Project)============================================= */
.Porject-c{
    height:100px;
    width:100%;
    background-color: rgb(47, 101, 101);
}

.Porject-c form{
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
input{
    height:50%;
    width: 20%;
    border: 2px solid powderblue;
    border-radius: 1rem;
}
#textarea{
    height:70%;
    width: 30%;
    border: 2px solid powderblue;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button{
    height:50%;
    width: 15%;
    /* border: 2px solid rgb(49, 175, 104); */
    border-radius: 1rem;
background-color: sienna;
background-image: linear-gradient(to right,rgb(219, 184, 14),cyan);

font-weight: bold;
font-size: 1.5rem;
outline: none;

   
}
button:hover{
  background-image: linear-gradient(to right,rgb(24, 200, 24),cyan);
  font-size: 2rem;

}
::placeholder {
    color: rgb(13, 136, 115); /* Change the color of the placeholder text */
    font-style: italic; /* Apply italic font style to the placeholder text */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    /* margin-top: 10px; */
    
  }


  /* =============================================================Styles for Displayed-projects======================================================== */
  ol{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  ol a{
    height:300px;
    width: 720px;
    overflow: scroll;
    /* border: 2px solid rgb(5, 10, 10); */
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  ol a::-webkit-scrollbar {
    display: none;
  }
  ol a:hover{
    background-image: linear-gradient(to right,green,rgb(199, 38, 65));
  }

  ol span{
    height:15%;
    width:50%;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
 ol span b{
    height:100%;
    width:50%;
    background-color: rgb(204, 214, 177);
    /* margin-left: 50px; */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  ol #div{
    height:60%;
    width:100%;
    overflow: scroll;
    padding: 10px;

  }
 

  ol #div::-webkit-scrollbar {
    display: none;
  }

  ol #divs{
    height:15%;
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* padding: 10px; */
    /* background-color: rgb(204, 214, 177); */

  }
  ol #divs b{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgb(204, 214, 177);
    font-size: 2rem;
    color:black;
    /* border: 2px solid green; */
  }
  #bbb{
    color: rgb(48, 47, 47);
  }