body{
    /* color: darkslategray; */
    height:720px;
    font-style: oblique;
    background-image: url('issue.jpeg');
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    /* background-color: #bfc151; */
    background-image: linear-gradient(to right,rgb(215, 29, 12),rgb(172, 183, 18));
    color: #dcdeb4;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    font-weight: 1000;


  }
  
  .dropdown-content {
    width:300px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-image: linear-gradient(to right,rgb(31, 177, 14),red);
    border: 2px solid black;
  }
  #ddc-i-o{
    width:300px;
    background-image: linear-gradient(to right,rgb(31, 177, 14),red);
    color: #f1f1f1;
    /* border:0px; */
    font-weight: bold;

  }
  #dd-t-o{
    width:300px;
    background-image: linear-gradient(to right,rgb(31, 177, 14),red);
/* border: 0px; */
color: #181816;
font-weight: bold;

  }
  #dd-s-o{
    width:300px;
    background-image: linear-gradient(to right,rgb(31, 177, 14),red);
  }
  #dd-s-o option{
    color:#ffffff;
    font-weight: bold;
  }
  #dd-i-t{
    width:300px;
    /* border:0px; */
    background-image: linear-gradient(to right,rgb(31, 177, 14),red);
    font-weight: bold;
    color: white;



  }
  #dd-btn{
    margin-left: 200px;
    margin-top: 10px;
    color: white;
    background-image: linear-gradient(to right,rgb(8, 18, 18),rgb(39, 176, 18));

  }
  .dropdown-content form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dropdown-content input {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content input:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  select{
    height:20px;
    width:100px;
    overflow: scroll;
  }
  select::-webkit-scrollbar {
    display: none;
  }
  /* -----------------------------------Styling for issues--------------------------------------- */
  .issu-display-div-c{
    height:150px;
    width:500px;
    overflow: scroll;
  }
  .issu-display-div-c::-webkit-scrollbar {
    display: none;
  }
  ::placeholder {
    color:#ffffff;
    font-weight: bold;
  }

  /* ====================================================Project-Details-Styling================================================= */


  /* ------------------------------------main--------------------------------- */
  .main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

  }
  /* -------------------------home-button----------------------------- */
  .home-btn{
    height:40px;
    width:100%;
    background-color: cyan;
    font-size: 2em;
  }
  .home-btn-a{
    text-decoration: none;
    color:rgb(170, 89, 61);
    font-weight: bold;
  }
  /* --------------------------project-details--------------------------- */
  #project-display-id{
    width:70%;
    /* background-color: aquamarine; */
    height:730px;
    display: flex;
    flex-direction: column;
  }
 
.display-name{
  height:8%;
  width:100%;
  /* background-color: red; */
  background-image: linear-gradient(to right, rgb(72, 152, 51), cyan);
  font-size: 1em;
  padding-left: 10px;
}
.display-name h2{
  font-weight: 1000;
color:rgb(27, 12, 11);

}
.display-description{
  height:75%;
  width:100%;
  
  /* background-color: ghostwhite; */
  background-image: linear-gradient(to right, green,cyan);
color: #f1f1f1;
font-weight: bold;
      overflow: scroll;
      display: flex;
      justify-content: center;
      align-items: center;
}

.display-description::-webkit-scrollbar{
    display: none;
  }
  .display-author{
    height:8%;
    /* background-color: darkred; */
    /* color:darkseagreen; */
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    align-items: center;
    /* display:flex; */
align-items: center;    
  }
  .display-author button{
    border-radius: 0.5rem;
height:50%;
/* background-color: rgb(22, 224, 224); */
background-image: linear-gradient(to right,red,blue);
font-weight: 1000;
color: chartreuse;
width:30%;
  }






  /* -------------------------issue-information-------------------------- */
  .issu-display-div-c{
    height:720px;
    width:30%;
    background-color:darkslategray;
    color:#f1f1f1;
  }
  .display-issues{
    overflow:scroll;
    height:92%;
    width:100%;
  }
  .display-issues::-webkit-scrollbar{
    display: none;
  }
  ol li{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    color:rgb(9, 4, 7);
    font-weight: 1000;
    font-size: 1.3rem;
  }
  #title{
    color:rgb(9, 4, 7);
    font-weight: 1000;
    font-size: 1.3rem;
  }
  #labels{
    color:rgb(11, 131, 192);
    font-size: 1rem;

  }
  #author{
    margin-left: 60%;
    margin-top: 7%;
    color: white;
    font-size: 1rem;

  }
  #description{
    color:white;
    font-size: 1rem;

  }

  

